{{ attach_library('ts_theme/statistic-block') }}

<div{{ content_attributes.addClass('content', 'container-xl', 'py-5') }}>

  <div style="opacity: 0" class="border-top border-bottom statistic-block-layout">
    {{ content }}
  </div>

</div>
