/* VARIABLES */
.statistic-block-layout {
  transition: 0.5s;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.statistic-block-layout > * {
  display: flex;
  justify-content: space-evenly;
}
.statistic-block-layout .field--name-field-lebel {
  font-size: 36px;
  font-weight: 800;
}
.statistic-block-layout .field--name-field-subtitle::before {
  margin-right: 5px;
  content: "";
  background-color: #f17c34;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
  padding: 5px;
  background-clip: content-box;
}

@media (max-width: 750px) {
  .statistic-block-layout > * {
    flex-direction: column;
  }
  .statistic-block-layout > * .field--name-field-lebel {
    font-size: 30px;
  }
}