@use "../../variables";
@use "sass:map";
@use 'sass:color';

.layout--twocol-section--33-67:has(.block-content-text_with_button) {
  padding: 15px;
  padding-bottom: 6rem;
  position: relative;

  &::before {
    content: "";
    height: 700px;
    width: 100vw;
    background: linear-gradient(0deg, color.adjust(#f17c34, $alpha: -0.9) 0%, rgba(255, 255, 255, 0.12) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .block-content-text_with_button {
    max-width: 430px;
    margin-left: auto;
    margin-right: 15px;
  }

  .field--name-field-short-text {
    font-size: 12px;
    color: variables.$gray-800;
    line-height: 24px;
  }

  .field--name-field-label {
    padding-top: 0;
  }

  .btn {
    margin-top: 2rem;
  }

  .field--name-field-multi-paragraph {
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .field__item:nth-child(2n) {
      margin-left: 0;
    }

    .field__item {
      position: relative;
      max-width: 430px;
      margin: auto;
      height: 100%;

      .field--name-field-paragraph-image {
        position: absolute;
        top: -5px;
        left: 5px;
        max-width: 50px;
        max-height: 50px;
        display: flex;
        flex-direction: column;

        & > * {
          height: fit-content;
        }
      }

      .field--name-field-lebel {
        margin-left: 55px;
        font-size: clamp(22px, 1.5vw, 24px);
        font-weight: 700;
      }

      .field--name-field-text-paragraph {
        margin-left: 55px;
        font-size: 15px;
        color: variables.$gray-800;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: map.get(variables.$grid-breakpoints, sm)) {
  .layout--twocol-section--33-67:has(.block-content-text_with_button) {
    &::before {
      left: -10px;
    }

    .layout__region--first {
      flex: 0 1 100% !important;
    }

    .field--name-field-multi-paragraph {
      padding: 0;
    }

    .block-content-text_with_button {
      max-width: unset;
      margin-left: 0;
    }

    .field--name-field-multi-paragraph {
      grid-template-columns: 1fr;
      padding-top: 2rem;

      .field__item {
        margin-left: 0;
      }
    }
  };
}
