.block-content-heading .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: clamp(600px, 45vw, 900px);
  margin: auto;
  margin-bottom: 3rem;
  text-align: center;


  .field--name-field-tag {
    border-bottom: solid;
  }

  .field--name-field-label {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: clamp(26px, 5vw, 36px);
    font-weight: 800;
  }
}

.layout--threecol-section {
  padding-bottom: 50px;

  .layout__region {
    display: flex;
    justify-content: center;
  }

  .layout__region--first {
    justify-content: flex-end;
  }

  .layout__region--third {
    justify-content: flex-start;
  }


 .block-content-image_block {
    .content {
      position: relative;
      display: flex;
      justify-content: center;
      width: fit-content;
      height: 100%;

      &::before {
        position: absolute;
        top: 0;
        right: 15px;
        width: calc(100% - 30px);
        height: calc(100% - 10px);
        content: "";
        z-index: 1;
        background: linear-gradient(0deg,rgba(24, 25, 35, 1) 0%, rgba(24, 25, 35, 0) 50%, rgba(255, 255, 255, 0.12) 100%);
      }
    }

    img {
      padding: 15px;
      height: -webkit-fill-available;
      width: 460px;
      aspect-ratio: 3 / 4;

    }


    .field--name-field-subtitle, .field--name-field-title {
      text-align: center;
      font-size: 16px;
      border-radius: 2px;
      position: absolute;
      bottom: 30px;
      color: $primary;
      z-index: 2;
    }

    .field--name-field-title {
      font-size: clamp(16px, 2vw, 22px);
      color: $white;
      bottom: 55px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .layout--threecol-section {
    align-items: center;
    flex-direction: column;

    .field--name-field-title {
      font-size: 22px !important;
    }
  }
}
