{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<div{{ attributes.addClass(classes, 'swiper js-quote-carousel') }}>
  {% if multiple %}
    <div class='field__items swiper-wrapper'>
  {% endif %}
  {% for item in items %}
    <div{{ item.attributes.addClass('field__item swiper-slide') }}>{{ item.content }}</div>
  {% endfor %}
  {% if multiple %}
    </div>
  {% endif %}
  <div class="button-wrapper">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
