/* VARIABLES */
.layout__region--content:has(.block-content-reviews_block) {
  background-color: rgba(241, 124, 52, 0.05);
  padding-top: 30px;
  padding-bottom: 30px;
}
.layout__region--content:has(.block-content-reviews_block) .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout__region--content:has(.block-content-reviews_block) .swiper-slide header {
  display: none;
}
.layout__region--content:has(.block-content-reviews_block) .swiper-slide article {
  max-width: 700px;
  margin: auto;
}
.layout__region--content:has(.block-content-reviews_block) .swiper-slide img {
  height: clamp(100px, 10vw, 150px);
  width: auto;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.layout__region--content:has(.block-content-reviews_block) .swiper-slide .field--name-field-short-text {
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
}
.layout__region--content:has(.block-content-reviews_block) .swiper-slide .field--name-field-subtitle {
  font-size: 14px;
}
.layout__region--content:has(.block-content-reviews_block) .swiper-slide .field--name-field-title {
  font-weight: 800;
  font-size: clamp(22px, 3.5vw, 26px);
}
.layout__region--content:has(.block-content-reviews_block) .swiper-slide .field--name-field-quantity-of-stars {
  margin-bottom: 10px;
  display: none;
  color: #f17c34;
}
.layout__region--content:has(.block-content-reviews_block) .block-inline-blockheading .field--name-field-label {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: clamp(26px, 5vw, 36px);
  font-weight: 800;
  line-height: clamp(24px, 5vw, 42px);
}
.layout__region--content:has(.block-content-reviews_block) .button-wrapper {
  position: relative;
  max-width: 750px;
  margin: auto;
  top: -250px;
}